In [63]:
import pandas as pd
import numpy as np
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import findspark
findspark.init()
from pyspark.sql import SparkSession
import tensorflow as tf 
from tensorflow.keras import Sequential

In [4]:
spark = SparkSession.builder.appName("Read CSV").getOrCreate()

24/03/04 20:13:41 WARN Utils: Your hostname, Aarons-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.1.5 instead (on interface en0)
24/03/04 20:13:41 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/04 20:13:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [9]:
file_path = "Credit_Score_Data/Credit.csv"

In [13]:
df = spark.read.csv(file_path, header=True, inferSchema=True, sep=",")

df.show()

+----+-----------+-----+---------------+----+------------+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+------------------+---------------------+-------------------+-----------------------+--------------------+------------------+------------+
|  ID|Customer_ID|Month|           Name| Age|         SSN|Occupation|Annual_Income|Monthly_Inhand_Salary|Num_Bank_Accounts|Num_Credit_Card|Interest_Rate|Num_of_Loan|        Type_of_Loan|Delay_from_due_date|Num_of_Delayed_Payment|Changed_Credit_Limit|Num_Credit_Inquiries|Credit_Mix|Outstanding_Debt|Credit_Utilization_Ratio|Credit_History_Age|Payment_of_Min_Amount|Total_EMI_per_month|Amount_invested_monthly|   Payment_Behaviour|   Monthly_Balance|Credit_Score|
+----+-----------+-----+---------------+----+------------+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+------------------+---------------------+-------------------+-----------------------+--------------------+------------------+------------+
|5634|       3392|    1|  Aaron Maashoh|23.0|8.21000265E8| Scientist|     19114.12|   1824.8433333333328|              3.0|            4.0|          3.0|        4.0|Auto Loan, Credit...|                3.0|                   7.0|               11.27|                 4.0|      Good|          809.98|      26.822619623699016|             265.0|                   No|  49.57494921489417|     21.465380264657146|High_spent_Small_...|312.49408867943663|        Good|
|5635|       3392|    2|  Aaron Maashoh|23.0|8.21000265E8| Scientist|     19114.12|   1824.8433333333328|              3.0|            4.0|          3.0|        4.0|Auto Loan, Credit...|                3.0|                   4.0|               11.27|                 4.0|      Good|          809.98|       31.94496005538421|             266.0|                   No|  49.57494921489417|     21.465380264657146|Low_spent_Large_v...|284.62916249607184|        Good|
|5636|       3392|    3|  Aaron Maashoh|23.0|8.21000265E8| Scientist|     19114.12|   1824.8433333333328|              3.0|            4.0|          3.0|        4.0|Auto Loan, Credit...|                3.0|                   7.0|               11.27|                 4.0|      Good|          809.98|       28.60935202206993|             267.0|                   No|  49.57494921489417|     21.465380264657146|Low_spent_Medium_...| 331.2098628537912|        Good|
|5637|       3392|    4|  Aaron Maashoh|23.0|8.21000265E8| Scientist|     19114.12|   1824.8433333333328|              3.0|            4.0|          3.0|        4.0|Auto Loan, Credit...|                5.0|                   4.0|                6.27|                 4.0|      Good|          809.98|       31.37786186958236|             268.0|                   No|  49.57494921489417|     21.465380264657146|Low_spent_Small_v...|223.45130972736783|        Good|
|5638|       3392|    5|  Aaron Maashoh|23.0|8.21000265E8| Scientist|     19114.12|   1824.8433333333328|              3.0|            4.0|          3.0|        4.0|Auto Loan, Credit...|                6.0|                   4.0|               11.27|                 4.0|      Good|          809.98|      24.797346908844982|             269.0|                   No|  49.57494921489417|     21.465380264657146|High_spent_Medium...|341.48923103222177|        Good|
|5639|       3392|    6|  Aaron Maashoh|23.0|8.21000265E8| Scientist|     19114.12|   1824.8433333333328|              3.0|            4.0|          3.0|        4.0|Auto Loan, Credit...|                8.0|                   4.0|                9.27|                 4.0|      Good|          809.98|       27.26225871052017|             270.0|                   No|  49.57494921489417|     21.465380264657146|High_spent_Medium...| 340.4792117872438|        Good|
|5640|       3392|    7|  Aaron Maashoh|23.0|8.21000265E8| Scientist|     19114.12|   1824.8433333333328|              3.0|            4.0|          3.0|        4.0|Auto Loan, Credit...|                3.0|                   8.0|               11.27|                 4.0|      Good|          809.98|       22.53759303178384|             271.0|                   No|  49.57494921489417|     21.465380264657146|Low_spent_Small_v...| 244.5653167062043|        Good|
|5641|       3392|    8|  Aaron Maashoh|23.0|8.21000265E8| Scientist|     19114.12|   1824.8433333333328|              3.0|            4.0|          3.0|        4.0|Auto Loan, Credit...|                3.0|                   6.0|               11.27|                 4.0|      Good|          809.98|       23.93379480196552|             272.0|                   No|  49.57494921489417|     21.465380264657146|High_spent_Medium...|358.12416760938714|    Standard|
|5646|       8625|    1|Rick Rothackerj|28.0|   4075839.0|   Teacher|     34847.84|    3037.986666666666|              2.0|            4.0|          6.0|        1.0| Credit-Builder Loan|                3.0|                   4.0|                5.42|                 2.0|      Good|          605.03|       24.46403063758457|             319.0|                   No| 18.816214573128885|     39.684018417945296|Low_spent_Small_v...|470.69062692529184|    Standard|
|5647|       8625|    2|Rick Rothackerj|28.0|   4075839.0|   Teacher|     34847.84|    3037.986666666666|              2.0|            4.0|          6.0|        1.0| Credit-Builder Loan|                7.0|                   1.0|                7.42|                 2.0|      Good|          605.03|      38.550848433956325|             320.0|                   No| 18.816214573128885|     39.684018417945296|High_spent_Large_...| 484.5912142650067|        Good|
|5648|       8625|    3|Rick Rothackerj|28.0|   4075839.0|   Teacher|     34847.84|    3037.986666666666|              2.0|            4.0|          6.0|        1.0| Credit-Builder Loan|                3.0|                   1.0|                5.42|                 2.0|      Good|          605.03|       33.22495078663659|             321.0|                   No| 18.816214573128885|     39.684018417945296|High_spent_Large_...|466.46647639764313|    Standard|
|5649|       8625|    4|Rick Rothackerj|28.0|   4075839.0|   Teacher|     34847.84|    3037.986666666666|              2.0|            4.0|          6.0|        1.0| Credit-Builder Loan|                3.0|                   3.0|                5.42|                 2.0|      Good|          605.03|       39.18265565546884|             322.0|                   No| 18.816214573128885|     39.684018417945296|Low_spent_Medium_...| 465.6762241330048|        Good|
|5650|       8625|    5|Rick Rothackerj|28.0|   4075839.0|   Teacher|     34847.84|    3037.986666666666|              2.0|            4.0|          6.0|        1.0| Credit-Builder Loan|                3.0|                   1.0|                6.42|                 2.0|      Good|          605.03|       34.97789474709241|             323.0|                   No| 18.816214573128885|     39.684018417945296|Low_spent_Small_v...| 444.8670318506144|        Good|
|5651|       8625|    6|Rick Rothackerj|28.0|   4075839.0|   Teacher|     34847.84|    3037.986666666666|              2.0|            4.0|          6.0|        1.0| Credit-Builder Loan|                3.0|                   0.0|                5.42|                 2.0|      Good|          605.03|       33.38101020065065|             324.0|                   No| 18.816214573128885|     39.684018417945296|High_spent_Large_...|  481.505261949182|        Good|
|5652|       8625|    7|Rick Rothackerj|28.0|   4075839.0|   Teacher|     34847.84|    3037.986666666666|              2.0|            4.0|          6.0|        1.0| Credit-Builder Loan|                3.0|                   4.0|                5.42|                 2.0|      Good|          605.03|      31.131701611553307|             325.0|                   NM| 18.816214573128885|     39.684018417945296|High_spent_Medium...| 464.8806778859809|        Good|
|5653|       8625|    8|Rick Rothackerj|28.0|   4075839.0|   Teacher|     34847.84|    3037.986666666666|              2.0|            4.0|          6.0|        1.0| Credit-Builder Loan|                3.0|                   4.0|                5.42|                 2.0|      Good|          605.03|      32.933856293622235|             326.0|                   No| 18.816214573128885|     39.684018417945296|Low_spent_Small_v...|356.07810855965045|        Good|
|5658|      11708|    1|         Langep|34.0|4.86853974E8|  Engineer|    143162.64|             12187.22|              1.0|            5.0|          8.0|        3.0|Auto Loan, Auto L...|                5.0|                   8.0|                 7.1|                 3.0|      Good|         1303.01|      28.616734823006844|             213.0|                   No|  246.9923194537421|       168.413702679309|High_spent_Small_...|1043.3159778669492|        Good|
|5659|      11708|    2|         Langep|34.0|4.86853974E8|  Engineer|    143162.64|             12187.22|              1.0|            5.0|          8.0|        3.0|Auto Loan, Auto L...|               13.0|                   6.0|                 7.1|                 3.0|      Good|         1303.01|       41.70257342393906|             214.0|                   No|  246.9923194537421|       168.413702679309|High_spent_Small_...| 998.8692967863226|        Good|
|5660|      11708|    3|         Langep|34.0|4.86853974E8|  Engineer|    143162.64|             12187.22|              1.0|            5.0|          8.0|        3.0|Auto Loan, Auto L...|                8.0|                   7.0|                11.1|                 3.0|      Good|         1303.01|       26.51981539154649|             215.0|                   No|  246.9923194537421|       168.413702679309|High_spent_Small_...|  715.741367403555|        Good|
|5661|      11708|    4|         Langep|34.0|4.86853974E8|  Engineer|    143162.64|             12187.22|              1.0|            5.0|          8.0|        3.0|Auto Loan, Auto L...|                8.0|                   5.0|                 9.1|                 3.0|      Good|         1303.01|       39.50164810812735|             216.0|                   No|  246.9923194537421|       168.413702679309|Low_spent_Medium_...| 426.5134106068658|        Good|
+----+-----------+-----+---------------+----+------------+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+------------------+---------------------+-------------------+-----------------------+--------------------+------------------+------------+
only showing top 20 rows

In [14]:
credit_df= df.toPandas()

credit_df.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,5634,3392,1,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,26.822620,265.0,No,49.574949,21.46538,High_spent_Small_value_payments,312.494089,Good
1,5635,3392,2,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,31.944960,266.0,No,49.574949,21.46538,Low_spent_Large_value_payments,284.629162,Good
2,5636,3392,3,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,28.609352,267.0,No,49.574949,21.46538,Low_spent_Medium_value_payments,331.209863,Good
3,5637,3392,4,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,31.377862,268.0,No,49.574949,21.46538,Low_spent_Small_value_payments,223.451310,Good
4,5638,3392,5,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,24.797347,269.0,No,49.574949,21.46538,High_spent_Medium_value_payments,341.489231,Good

In [15]:
spark.stop()

In [22]:
credit_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  int32
 1   Customer_ID               100000 non-null  int32
 2   Month                     100000 non-null  int32
 3   Name                      100000 non-null  object
 4   Age                       100000 non-null  float64
 5   SSN                       100000 non-null  float64
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  float64
 8   Monthly_Inhand_Salary     100000 non-null  float64
 9   Num_Bank_Accounts         100000 non-null  float64
 10  Num_Credit_Card           100000 non-null  float64
 11  Interest_Rate             100000 non-null  float64
 12  Num_of_Loan               100000 non-null  float64
 13  Type_of_Loan              100000 non-null  object
 14  Delay_from_due_date       100000 non-null  float64
 15  Num_of_Delayed_Payment    100000 non-null  float64
 16  Changed_Credit_Limit      100000 non-null  float64
 17  Num_Credit_Inquiries      100000 non-null  float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  float64
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        100000 non-null  float64
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   100000 non-null  float64
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           100000 non-null  float64
 27  Credit_Score              100000 non-null  object
dtypes: float64(18), int32(3), object(7)
memory usage: 20.2+ MB

In [50]:
credit_df['Payment_of_Min_Amount'] = credit_df['Payment_of_Min_Amount']. apply(lambda x:1 if x== 'yes' else 0)

In [53]:
non_numeric = ['Name','Occupation','Type_of_Loan','Credit_Mix','Payment_Behaviour','Credit_Score']

In [54]:
df_numeric = credit_df.drop(columns= non_numeric)

In [55]:
X = df_numeric
y = credit_df['Credit_Score']

In [56]:
df_catigorical= credit_df[non_numeric]

In [57]:
df_catigorical = pd.get_dummies(df_catigorical)

In [58]:
X= pd.concat([X, df_catigorical], axis=1)

In [59]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [60]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [64]:
model = Sequential()
model.add(Dense(64, input_dim=X_train_scaled.shape[1], activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(1, activation='linear'))

NameError: name 'Dense' is not defined